#--------------------------------
#       Kintex7 Board KC705
#--------------------------------
NET  "sys_clk_i_p" LOC = AD12 |IOSTANDARD="LVDS"; # Bank  33 VCCO - VCC1V5_FPGA - IO_L12P_T1_MRCC_33
NET  "sys_clk_i_n" LOC = AD11 |IOSTANDARD="LVDS"; # Bank  33 VCCO - VCC1V5_FPGA - IO_L12N_T1_MRCC_33
NET  "rs232_txd_o"  LOC = K24  |IOSTANDARD="LVCMOS25"; # Bank  15 VCCO - VCC2V5_FPGA - IO_L3N_T0_DQS_AD1N_15
NET  "rs232_rxd_i"  LOC = M19  |IOSTANDARD="LVCMOS25"; # Bank  15 VCCO - VCC2V5_FPGA - IO_0_15
#NET  USB_RTS LOC = K23  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L3P_T0_DQS_AD1P_15
#NET  USB_CTS LOC = L27  | IOSTANDARD=LVCMOS25; # Bank  15 VCCO - VCC2V5_FPGA - IO_L11N_T1_SRCC_AD12N_15
#--------------------------------
#       FMC Connector HPC
#--------------------------------
NET  "fmc_prsnt_i"  LOC = M20  |IOSTANDARD="LVCMOS25";
NET  "fmc_pg_m2c_i" LOC = F22  |IOSTANDARD="LVCMOS25"; // LA31_N
// Trigger 
NET "fmc_trig_dir_o" LOC = D16  |IOSTANDARD="LVCMOS25"; // LA28_P
NET "fmc_trig_term_o" LOC = A18 |IOSTANDARD="LVCMOS25"; // LA26_N
NET "fmc_trig_val_o_p" LOC = D21 |IOSTANDARD="BLVDS_25";  // LA32_P
NET "fmc_trig_val_o_n" LOC = C21  |IOSTANDARD="BLVDS_25"; // LA32_N
// Si571 clock gen
NET "si571_scl_pad" LOC = B15 |IOSTANDARD="LVCMOS25"; // HA12_N
NET "si571_sda_pad"	LOC = L16 |IOSTANDARD="LVCMOS25"; // HA13_P
NET "fmc_si571_oe_o" LOC = C15 |IOSTANDARD="LVCMOS25"; // HA12_P
// AD9510 clock distribution PLL
NET "spi_ad9510_cs" LOC = A26 |IOSTANDARD="LVCMOS25";  // LA13_N
NET "spi_ad9510_sclk_o" LOC = A25 |IOSTANDARD="LVCMOS25"; // LA13_P
NET "spi_ad9510_mosi_o" LOC = A30 |IOSTANDARD="LVCMOS25"; // LA09_N
NET "spi_ad9510_miso_i" LOC = B28 |IOSTANDARD="LVCMOS25"; // LA14_P
NET "fmc_pll_function_o" LOC = A28 |IOSTANDARD="LVCMOS25"; // LA14_N
NET "fmc_pll_status_i" LOC = B30 |IOSTANDARD="LVCMOS25"; // LA09_P

#NET "fmc_fpga_clk_p" LOC = D27 |IOSTANDARD="LVDS_25"; // CLK0_M2C_P
#NET "fmc_fpga_clk_n" LOC = C27 |IOSTANDARD="LVDS_25"; // CLK0_M2C_N

// Clock reference selection (TS3USB221) 
NET "fmc_clk_sel_o" LOC = G22 |IOSTANDARD="LVCMOS25"; // LA31_P
// EEPROM (multiplexer PCA9548)
NET "eeprom_scl_pad" LOC = K21 |IOSTANDARD="LVCMOS25"; # SCL C30
NET "eeprom_sda_pad" LOC = L21 |IOSTANDARD="LVCMOS25"; # SDA C31
// LM75 temperature monitor (can be used without multiplexer on KC705 board)
NET "lm75_scl_pad" LOC = C19 |IOSTANDARD="LVCMOS25"; // LA27_P
NET "lm75_sda_pad" LOC = B19 |IOSTANDARD="LVCMOS25"; // LA27_N
NET "fmc_lm75_temp_alarm_i" LOC = C16 |IOSTANDARD="LVCMOS25"; // LA28_N
// LTC ADC control pins
NET "fmc_adc_pga_o" LOC = H30 |IOSTANDARD="LVCMOS25"; // LA06_P
NET "fmc_adc_shdn_o" LOC = C30 |IOSTANDARD="LVCMOS25"; // LA10_N 
NET "fmc_adc_dith_o" LOC = D29 |IOSTANDARD="LVCMOS25"; // LA10_P
NET "fmc_adc_rand_o" LOC = G30 |IOSTANDARD="LVCMOS25"; // LA06_N
// LEDs
NET "fmc_led1_o" LOC = A27 |IOSTANDARD="LVCMOS25"; // LA16_N
NET "fmc_led2_o" LOC = B27 |IOSTANDARD="LVCMOS25"; // LA16_P
NET "fmc_led3_o" LOC = B18 |IOSTANDARD="LVCMOS25";  // LA26_P
NET  "board_led1_o" LOC = AB8 |IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2N_T0_33
NET  "board_led2_o" LOC = AA8 |IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V5_FPGA - IO_L2P_T0_33
NET  "board_led3_o" LOC = AC9 |IOSTANDARD=LVCMOS18; # Bank  33 VCCO - VCC1V5_FPGA - IO_L3N_T0_DQS_33
#--------------------------------
#       FMC Connector HPC
#         LTC ADC lines
#--------------------------------
// on schematics ov line is swapped with clk line
// for all ADC chips
// ADC0
//NET "fmc_adc0_clk" LOC = C17 |IOSTANDARD="LVCMOS25"; // LA29_P
NET "fmc_adc0_clk" LOC = F20 |IOSTANDARD="LVCMOS25"; // LA17_CC_P
NET "fmc_adc0_data[0]" LOC = A16 |IOSTANDARD="LVCMOS25"; // LA24_P
NET "fmc_adc0_data[1]" LOC = A17 |IOSTANDARD="LVCMOS25"; // LA24_N
NET "fmc_adc0_data[2]" LOC = G17 |IOSTANDARD="LVCMOS25"; // LA25_P
NET "fmc_adc0_data[3]" LOC = F17 |IOSTANDARD="LVCMOS25"; // LA25_N
NET "fmc_adc0_data[4]" LOC = A20 |IOSTANDARD="LVCMOS25"; // LA21_P
NET "fmc_adc0_data[5]" LOC = A21 |IOSTANDARD="LVCMOS25"; // LA21_N
NET "fmc_adc0_data[6]" LOC = C20 |IOSTANDARD="LVCMOS25"; // LA22_P
NET "fmc_adc0_data[7]" LOC = B20 |IOSTANDARD="LVCMOS25"; // LA22_N
NET "fmc_adc0_data[8]" LOC = A22 |IOSTANDARD="LVCMOS25"; // LA23_N
NET "fmc_adc0_data[9]" LOC = F18 |IOSTANDARD="LVCMOS25"; // LA19_N
NET "fmc_adc0_data[10]" LOC = E21 |IOSTANDARD="LVCMOS25"; // LA18_CC_N
NET "fmc_adc0_data[11]" LOC = B22 |IOSTANDARD="LVCMOS25"; // LA23_P
NET "fmc_adc0_data[12]" LOC = D19 |IOSTANDARD="LVCMOS25"; // LA20_N
NET "fmc_adc0_data[13]" LOC = G18 |IOSTANDARD="LVCMOS25"; // LA19_P
NET "fmc_adc0_data[14]" LOC = F21 |IOSTANDARD="LVCMOS25"; // LA18_CC_P
NET "fmc_adc0_data[15]" LOC = E19 |IOSTANDARD="LVCMOS25"; // LA20_P
//NET "fmc_adc0_of" LOC = F20 |IOSTANDARD="LVCMOS25"; // LA17_CC_P

// ADC1
//NET "fmc_adc1_clk" LOC = L13 |IOSTANDARD="LVCMOS25"; // HA23_N
NET "fmc_adc1_clk" LOC = G13 |IOSTANDARD="LVCMOS25"; // HA17_P_CC
NET "fmc_adc1_data[15]" LOC = A11 |IOSTANDARD="LVCMOS25"; // HA10_P
NET "fmc_adc1_data[14]" LOC = B13 |IOSTANDARD="LVCMOS25"; // HA11_P
NET "fmc_adc1_data[13]" LOC = A12 |IOSTANDARD="LVCMOS25"; // HA10_N
NET "fmc_adc1_data[12]" LOC = A13 |IOSTANDARD="LVCMOS25"; // HA11_N
NET "fmc_adc1_data[11]" LOC = H15 |IOSTANDARD="LVCMOS25"; // HA15_P
NET "fmc_adc1_data[10]" LOC = J16 |IOSTANDARD="LVCMOS25"; // HA14_P
NET "fmc_adc1_data[9]" LOC = G15 |IOSTANDARD="LVCMOS25"; // HA15_N
NET "fmc_adc1_data[8]" LOC = H16 |IOSTANDARD="LVCMOS25"; // HA14_N
NET "fmc_adc1_data[7]" LOC = J14 |IOSTANDARD="LVCMOS25"; // HA18_N
NET "fmc_adc1_data[6]" LOC = K14 |IOSTANDARD="LVCMOS25"; // HA18_P
NET "fmc_adc1_data[5]" LOC = H12 |IOSTANDARD="LVCMOS25"; // HA19_N
NET "fmc_adc1_data[4]" LOC = J11 |IOSTANDARD="LVCMOS25"; // HA21_P
NET "fmc_adc1_data[3]" LOC = L11 |IOSTANDARD="LVCMOS25"; // HA22_P
NET "fmc_adc1_data[2]" LOC = J12 |IOSTANDARD="LVCMOS25"; // HA21_N
NET "fmc_adc1_data[1]" LOC = L12 |IOSTANDARD="LVCMOS25"; // HA23_P
NET "fmc_adc1_data[0]" LOC = K11 |IOSTANDARD="LVCMOS25"; // HA22_N
//NET "fmc_adc1_of" LOC = G13 |IOSTANDARD="LVCMOS25"; // HA17_P_CC

// ADC2
//NET "fmc_adc2_clk" LOC = G27 |IOSTANDARD="LVCMOS25"; // LA11_P
NET "fmc_adc2_clk" LOC = C25 |IOSTANDARD="LVCMOS25"; // LA00_CC_P
NET "fmc_adc2_data[15]" LOC = D26 |IOSTANDARD="LVCMOS25"; // LA01_CC_P
NET "fmc_adc2_data[14]" LOC = H24 |IOSTANDARD="LVCMOS25"; // LA02_P
NET "fmc_adc2_data[13]" LOC = C26 |IOSTANDARD="LVCMOS25"; // LA01_CC_N
NET "fmc_adc2_data[12]" LOC = H25 |IOSTANDARD="LVCMOS25"; // LA02_N
NET "fmc_adc2_data[11]" LOC = H27 |IOSTANDARD="LVCMOS25"; // LA03_N
NET "fmc_adc2_data[10]" LOC = H26 |IOSTANDARD="LVCMOS25"; // LA03_P
NET "fmc_adc2_data[9]" LOC = F28 |IOSTANDARD="LVCMOS25"; // LA04_N
NET "fmc_adc2_data[8]" LOC = G28 |IOSTANDARD="LVCMOS25"; // LA04_P
NET "fmc_adc2_data[7]" LOC = F30 |IOSTANDARD="LVCMOS25"; // LA05_N
NET "fmc_adc2_data[6]" LOC = G29 |IOSTANDARD="LVCMOS25"; // LA05_P
NET "fmc_adc2_data[5]" LOC = E30 |IOSTANDARD="LVCMOS25"; // LA08_N
NET "fmc_adc2_data[4]" LOC = E29 |IOSTANDARD="LVCMOS25"; // LA08_P
NET "fmc_adc2_data[3]" LOC = D28 |IOSTANDARD="LVCMOS25"; // LA07_N
NET "fmc_adc2_data[2]" LOC = E28 |IOSTANDARD="LVCMOS25"; // LA07_P
NET "fmc_adc2_data[1]" LOC = B29 |IOSTANDARD="LVCMOS25"; // LA12_N
NET "fmc_adc2_data[0]" LOC = C29 |IOSTANDARD="LVCMOS25"; // LA12_P
NET "fmc_adc2_of" LOC = C25 |IOSTANDARD="LVCMOS25"; // LA00_CC_P

// ADC3
//NET "fmc_adc3_clk" LOC = C14 |IOSTANDARD="LVCMOS25"; // HA06_N
NET "fmc_adc3_clk" LOC = H14 |IOSTANDARD="LVCMOS25"; // HA01_CC_P
NET "fmc_adc3_data[15]" LOC = D13 |IOSTANDARD="LVCMOS25"; // HA00_CC_N
NET "fmc_adc3_data[14]" LOC = D12 |IOSTANDARD="LVCMOS25"; // HA00_CC_P
NET "fmc_adc3_data[13]" LOC = E16 |IOSTANDARD="LVCMOS25"; // HA05_N
NET "fmc_adc3_data[12]" LOC = F15 |IOSTANDARD="LVCMOS25"; // HA05_P
NET "fmc_adc3_data[11]" LOC = E11 |IOSTANDARD="LVCMOS25"; // HA04_N
NET "fmc_adc3_data[10]" LOC = F11 |IOSTANDARD="LVCMOS25"; // HA04_P
NET "fmc_adc3_data[9]" LOC = E13 |IOSTANDARD="LVCMOS25"; // HA09_N
NET "fmc_adc3_data[8]" LOC = F12 |IOSTANDARD="LVCMOS25"; // HA09_P
NET "fmc_adc3_data[7]" LOC = B12 |IOSTANDARD="LVCMOS25"; // HA03_N
NET "fmc_adc3_data[6]" LOC = C12 |IOSTANDARD="LVCMOS25"; // HA03_P
NET "fmc_adc3_data[5]" LOC = E14 |IOSTANDARD="LVCMOS25"; // HA08_P
NET "fmc_adc3_data[4]" LOC = D11 |IOSTANDARD="LVCMOS25"; // HA02_P
NET "fmc_adc3_data[3]" LOC = B14 |IOSTANDARD="LVCMOS25"; // HA07_P
NET "fmc_adc3_data[2]" LOC = C11 |IOSTANDARD="LVCMOS25"; // HA02_N
NET "fmc_adc3_data[1]" LOC = D14 |IOSTANDARD="LVCMOS25"; // HA06_P
NET "fmc_adc3_data[0]" LOC = A15 |IOSTANDARD="LVCMOS25"; // HA07_N
//NET "fmc_adc3_of" LOC = H14 |IOSTANDARD="LVCMOS25"; // HA01_CC_P

#--------------------------------
#       DIFF TERM
#--------------------------------
NET "sys_clk_i_p" DIFF_TERM = TRUE;
NET "sys_clk_i_n" DIFF_TERM = TRUE;

NET "fmc_trig_val_o_p" DIFF_TERM = TRUE;
NET "fmc_trig_val_o_n" DIFF_TERM = TRUE;

#NET "fmc_fpga_clk_p" DIFF_TERM = TRUE;
#NET "fmc_fpga_clk_n" DIFF_TERM = TRUE;

#--------------------------------
#       Timing constraints
#--------------------------------
#--------------------------------
#             Clocks
#--------------------------------
NET "sys_clk_i_p" TNM_NET = sys_clk_i_p;
TIMESPEC TS_sys_clk_i_p = PERIOD "sys_clk_i_p" 200 MHz HIGH 50% INPUT_JITTER 50 ps;

// real jitter is about 22ps peak-to-peak
NET "fmc_adc0_clk" TNM_NET = fmc_adc0_clk;
TIMESPEC TS_fmc_adc0_clk = PERIOD "fmc_adc0_clk" 130 MHz HIGH 50% INPUT_JITTER 50 ps;

NET "fmc_adc1_clk" TNM_NET = fmc_adc1_clk;
TIMESPEC TS_fmc_adc1_clk = PERIOD "fmc_adc1_clk" 130 MHz HIGH 50% INPUT_JITTER 50 ps;

NET "fmc_adc2_clk" TNM_NET = fmc_adc2_clk;
TIMESPEC TS_fmc_adc2_clk = PERIOD "fmc_adc2_clk" 130 MHz HIGH 50% INPUT_JITTER 50 ps;

NET "fmc_adc3_clk" TNM_NET = fmc_adc3_clk;
TIMESPEC TS_fmc_adc3_clk = PERIOD "fmc_adc3_clk" 130 MHz HIGH 50% INPUT_JITTER 50 ps;

//NET "fmc_fpga_clk_p" TNM_NET = fmc_fpga_clk_p;
//TIMESPEC TS_fmc_fpga_clk_p = PERIOD "fmc_fpga_clk_p" 130 MHz HIGH 50% INPUT_JITTER 40 ps;

#--------------------------------
#             Data
#--------------------------------
INST "fmc_adc_130m_4ch_i/ltcInterface_adc0_i/IDELAYCTRL_adc0_inst" LOC = IDELAYCTRL_X0Y5;
INST "fmc_adc_130m_4ch_i/ltcInterface_adc1_i/IDELAYCTRL_adc0_inst" LOC = IDELAYCTRL_X0Y6;
INST "fmc_adc_130m_4ch_i/ltcInterface_adc2_i/IDELAYCTRL_adc0_inst" LOC = IDELAYCTRL_X0Y4;
//INST "fmc_adc_130m_4ch_i/ltcInterface_adc3_i/IDELAYCTRL_adc0_inst" LOC = IDELAYCTRL_X0Y6; // same as ADC1

// including 50ps jitter, for 130MHz clock
// since design uses copy of input ADC clock
// there is additional delay for clock/ data (tC)

INST "fmc_adc0_data<*>" TNM = fmc_adc0_data;
INST "fmc_adc1_data<*>" TNM = fmc_adc1_data;
INST "fmc_adc2_data<*>" TNM = fmc_adc2_data;
INST "fmc_adc3_data<*>" TNM = fmc_adc3_data;

TIMEGRP "fmc_adc0_data" OFFSET = IN -0.7 ns VALID 7.6 ns BEFORE "fmc_adc0_clk"; 
TIMEGRP "fmc_adc1_data" OFFSET = IN -0.7 ns VALID 7.6 ns BEFORE "fmc_adc1_clk"; 
TIMEGRP "fmc_adc2_data" OFFSET = IN -0.7 ns VALID 7.6 ns BEFORE "fmc_adc2_clk"; 
TIMEGRP "fmc_adc3_data" OFFSET = IN -0.7 ns VALID 7.6 ns BEFORE "fmc_adc3_clk";
